<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mobilegeneratorbooking.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mobilegeneratorbooking.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MobileGeneratorBooking</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MobileGeneratorBooking</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:iupkghwh27.database.windows.net,1433;Initial Catalog=MobileGeneratorBooking_db;User ID=ianlamon@iupkghwh27;Password=Il08037960" Name="Data Source=tcp:iupkghwh27.database.windows.net,1433;Initial Catalog=MobileGeneratorBooking_db;User Id=ianlamon@iupkghwh27;Password=Il08037960" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MobileGeneratorBooking.Models.ApplicationDbContext, MobileGeneratorBooking" MigrationConfiguration="MobileGeneratorBooking.Migrations.Configuration, MobileGeneratorBooking" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BookingServiceContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:iupkghwh27.database.windows.net,1433;Initial Catalog=MobileGeneratorBooking_db;User ID=ianlamon@iupkghwh27;Password=Il08037960" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|BookingServiceContext-20160601204153.mdf;Initial Catalog=BookingServiceContext-20160601204153;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BookingServiceContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=BookingServiceContext-20160601204153; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|BookingServiceContext-20160601204153.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BookingServiceContext-Web.config Connection String">
      <ParameterValue>data source=tcp:iupkghwh27.database.windows.net,1433;initial catalog=MobileGeneratorBooking_db;user id=ianlamon@iupkghwh27;password=Il08037960;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:iupkghwh27.database.windows.net,1433;Initial Catalog=MobileGeneratorBooking_db;User Id=ianlamon@iupkghwh27;Password=Il08037960</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>